
.chart{
  flex: 4;
  box-shadow: 2px 15px 32px 2px rgba(107,91,91,0.45);
  -webkit-box-shadow: 2px 15px 32px 2px rgba(107,91,91,0.45);
  -moz-box-shadow: 2px 15px 32px 2px rgba(107,91,91,0.45);
  padding: 10px;
  color: gray;

  .title{
    margin-bottom: 30px;
  }

  .chartGrid{

    stroke: rgb(255, 255, 255);
  }
}