.widget{
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 2px 15px 32px 2px rgba(107,91,91,0.45);
  -webkit-box-shadow: 2px 15px 32px 2px rgba(107,91,91,0.45);
  -moz-box-shadow: 2px 15px 32px 2px rgba(107,91,91,0.45);
  border-radius: 10px;
  height: 100px;

  .left, .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .title{
      font-size: 14px;
      font-weight: bold;
      color: rgb(160, 160, 160);
    }

    .counter{
      font-weight: 300;
      font-style: 28px;
    }

    .link{
      width: max-content;
      font-style: 12px;
      border-bottom: 1px solid gray;
    }
    .percentage{
      display: flex;
      align-items: center;
      font-style: 14px;

      &.percentage{
        color: green;
      }
      &.negative{
        color: red;
      }
    }
  }
}