.home{
  display: flex;
  
  .home__container{
    flex: 6;

    .widgets, .chart__container{
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .chart__container{
    padding: 5px 20px;
  }
  }
  
}