.home{
  display: flex;
  
  .home__container{
    flex: 6;

    .widgets, .chart__container{
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .chart__container{
    padding: 5px 20px;
  }

    .listContanier{
      box-shadow: 2px 15px 32px 2px rgba(107,91,91,0.45);
    -webkit-box-shadow: 2px 15px 32px 2px rgba(107,91,91,0.45);
    -moz-box-shadow: 2px 15px 32px 2px rgba(107,91,91,0.45);
    padding: 20px;
    margin: 20px;

    .listTitle{
      margin-bottom: 15px;
      color: gray;
      font-weight: 500 ;
    }
    }
  }
  
}