.table{  
  .cellWrapper{
    display: flex;
    align-items: center;



    .image{
      width: 32px;
      height: 32px;
      margin-right: 10px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  
  .status{
    padding: 5px;
    border-radius: 5px;

    &.Approved{
      background-color: #4caf4f30;
      color: rgb(0, 182, 12);
    }
    &.Pending{
      background-color: #d7da1030;
      color: goldenrod;
    }
  }
}